@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap');

:root {
  --font: 'Source Code Pro', monospace;
  /* --pink: #edafb8ff; */
  --white: #ffffffff;
  --black: #1D1D1F;
  --light-grey: #dee2e3ff;
  --grey: #5a6668ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
  /* border: 1px solid #fff; */
}

body {
  color: var(--black);
  font-family: var(--font);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  font-family: inherit;
}

h1 {
  font-weight: 700;
  padding: 0.5rem;
}

main>div {
  padding: 1rem 0;
}

.man-container {
  position: relative;
}

.man-container>div {
  position: absolute;
  top: 0;
  border: 1px solid #000;
  left: 50%;
  right: 50%;
  border-color: var(--white);
}

.explanation-container {
  padding: 3em 0;
}

.man-container .head {
  border-width: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: var(--white);
}

.body {
  margin-left: 10px;
  height: 32px;
  margin-top: 20px;
  border-color: #fff;
  border-width: 3px;
}

.left-arm {
  width: 20px;
  margin-top: 30px;
  margin-left: 10px;
  border-width: 3px;
  transform: rotate(15deg);
}

.right-arm {
  width: 20px;
  margin-top: 30px;
  margin-left: -10px;
  border-width: 3px;
  transform: rotate(-15deg);
}

.left-leg {
  width: 25px;
  margin-top: 60px;
  margin-left: 7px;
  transform: rotate(45deg);
  border-width: 3px;
}

.right-leg {
  width: 25px;
  margin-top: 60px;
  margin-left: -10px;
  transform: rotate(-45deg);
  border-width: 3px;
}

input[type="text"] {
  border: 3px solid #000;
  border-color: rgb(58, 58, 60);
  ;
  background-color: var(--black);
  font-size: 1.1rem;
  width: 2.5rem;
  margin: .6rem;
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: bolder;
  cursor: not-allowed;
  border-radius: 8px;
}

.letters-used-container p {
  padding: 0 0.5rem;
  position: relative;
}


.letters-used-container>p>.line {
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #ff3939;
  z-index: 2;
}

#reset {
  background-color: var(--black);
  color: #fff;
  font-size: 1.2rem;
  border: 3px solid var(--grey);
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

#reset:hover {
  scale: 1.1;
}

.flex-row {
  display: flex;
}

.padding-1 {
  padding: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.centrar-flex {
  justify-content: center;
  align-items: center;
}

.t-center {
  text-align: center;
}

.perdiste {
  color: #ff3939;
  font-size: 1.5em;
  font-weight: bolder;
}

.ganaste {
  color: #50ff50;
  font-size: 1.5em;
  font-weight: bolder;
}

.icon__container {
  display: flex;
  justify-content: center;
}

.icon {
  filter: invert(1);
  width: 200px;
}

.letter-used {
  color: #ff5050;
}