* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #434343;
  font-family: 'Varela Round', sans-serif;
  /* font-family: 'verdana'; */
}

/* encabezado */

header {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.name-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.name-logo>img {
  width: 120px;
}

.name {
  display: flex;
  flex-direction: column;
  font-family: verdana;
  font-weight: bold;
}

.name>.first-page-name {
  font-size: 39px;
  color: #E0E0E0;
}

.name>.second-page-name {
  font-size: 18px;
  text-align: right;
}

.instructions {
  display: flex;
  align-items: center;
}

.instructions>img {
  width: 150px;
}

.instructions>a {
  /* background-color: #3F3F3F; */
  background-color: #6aba9eeb;
  margin-right: 40px;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
  text-decoration: none;
  /* color: #E0E0E0; */
  color: rgb(0, 0, 0);
}

/* caja de instrucciones */

.box-instructions {
  width: 380px;
  padding: 20px;
  position: absolute;
  top: 15%;
  left: 39%;
  display: none;
}

.box-instructions>a {
  font-size: 20px;
  color: rgb(219, 219, 219);
  font-weight: bold;
  text-decoration: none;
  /* right: 10%; */
  float: right;
  margin-top: -20px;
}

.content-instructions {
  background-color: #6aba9eeb;
  width: 320px;
  padding: 25px;
  text-align: justify;
  border-radius: 10px;
  /* color: #E0E0E0; */
  /* border: 2px solid; */
  box-shadow: 3px 3px 13px rgb(33, 39, 40);
}





/* titulo */

.title {
  background-color: #6aba9eeb;
  margin: 120px 100px 0 100px;
  padding: 15px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.title>p {
  text-align: center;
  font-size: 22px;
}


/* seleccion de juegos */

.games {
  margin: 0 100px 0 100px;
}

.games>.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}

.content>.type-games {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-games .img-games {
  background-color: #E0E0E0;
  width: 280px;
  height: 70px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 2px solid;
  padding: 5px 49px;
  color: #6aba9eeb;
  /* color: black; */
}

.img-games img {
  max-width: 100%;
  max-height: 100%;
}

.type-games>.name-games {
  margin-top: 16px;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}


/* pie de pagina */

footer {
  background-color: #242424;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
}

footer>p {
  font-size: 13px;
  color: #E0E0E0;
}